@font-face { font-family: crBold; src: url('../public/CookieRun\ Bold_en.ttf'); } 

* {
  box-sizing: border-box;
  font-family: crBold;
  -webkit-margin-before:0em;
  -webkit-margin-after:0em;

  margin: 0px;
  padding: 0px;
}

body {
  background-color: #fdbf1f;
  background-image: url("https://cdn.jsdelivr.net/gh/SamuelLin213/crk_db_assets@main/cutter.png");
  background-repeat: space;
  margin: 0px;
  padding: 0px;
}

.pageContent 
{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
    width: 100%;
    height: 100vh;
}

.arrow {
  position: fixed;
  bottom: 10%;
  z-index: 999;
  background-color:#fbe9ae;
  border-radius: 50px; 
  padding: 0.5vw;
  width: 5vw;
}

.arrowLeft {
  transform: rotate(-90deg);
  left: 1%;  
}

.arrowRight {
  transform: rotate(90deg);
  right: 1%;
}

.pageBot {
  position: fixed;
  bottom: 4%;
  left: 45%;
  z-index: 999;
  border-radius: 50px; 
  padding: 0.5vw;
  width: 10vw;
  text-align: center;
  font-size: 1.2vw;
  color: white;
  -webkit-text-stroke: 1px black;
}

.pageImg {
  position: fixed;
  bottom: 1%;
  left: 44%;
  z-index: 998;
  padding: 0.5vw;
  width: 12vw;
}

@media screen and (max-width: 768px)
{    
    .pageBot{
      bottom: 2%;
      -webkit-text-stroke: initial;
    }
}