footer {
  background-color: #d63642;
  padding: 1.5vw;
  margin-top: 2vw;
  font-size: 1.2vw;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
  bottom: 0px;
  width: 100%;
  flex-shrink: 0;

  z-index: 999;
}