* {
  box-sizing: border-box;
}

body {
  background-color: #fbe354;
  background-image: url(../public/cutter.png);
  background-repeat: repeat;
  margin: 0;
  padding: 0;
  
  /* background: url('https://images2.alphacoders.com/122/1229217.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
}

.searchBar {  
  width: 100%;
  overflow: hidden;
  height: 20%;
  background-color: #f43d38;
  padding: 20px 0px;
  display: flex;
  justify-content: space-around;
}

.decorTile {
  /* width: 300px;
  height: 100px; */
  margin: 0 20px;
  text-align: center;
  background-color: white;
  
}

.decorGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}
