.decorTile {
    margin: 0 1.5vw;
    text-align: center;
    font-size: 0px;
}

.decorName {
    z-index: 99;
    position: relative;
    margin: 0 auto;
    text-align: center;
    line-height: 4vw;
    height: 0px;
    font-size: 0.9vw;

    color: #fff;
    width: 100%;

    padding: 0;
    word-wrap: break-all;
}

.smallText {
  font-size: 1.0vw;
}

.borderImg {
    width: 100%;
    height: 4vw;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 2;
}

.flexTile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15vw;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 0px;
    margin-bottom: -2px;
}

.imageContainer {
    position: relative;
    width: 50%;
}

.tileImage {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.regularTile {
    background-image: url("https://cdn.jsdelivr.net/gh/SamuelLin213/crk_db_assets@main/decorBackground.png");
}

.disneyTile {
    background-image: url("https://cdn.jsdelivr.net/gh/SamuelLin213/crk_db_assets@main/disneyBackground.png");
}

.btsTile {
    background-image: url("https://cdn.jsdelivr.net/gh/SamuelLin213/crk_db_assets@main/btsBackground.png");
}

.decorImage {
    position: absolute;

    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;

    z-index: 2;
    max-width: 80%;
    height: auto;
}

.image16 {
    max-height: 70%;
    max-width: 80%;
}
.image12 {
    max-height: 70%;
    max-width: 80%;
}
.image8 {
    max-height: 60%;
    max-width: 80%;
}
.image6 {
    max-height: 70%;
    max-width: 80%;
}
.image4 {
    max-height: 70%;
}
.image3 {
    max-height: 45%;
}
.image2 {
    max-height: 50%;
}

.tileInfo {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-right: auto;
    font-size: 0.8vw;
    padding: 0px;
    margin: 0px;

    width: 50%;
}

.regularInfo {
    background-color: #d6cfc7;
}

.disneyInfo {
    background-color: #c7caed;
}

.btsInfo {
    background-color: #ded2f7;
}

.tileInfo .decorTheme, .tileInfo .decorSize, .tileInfo .decorPoint{
    padding: 0.5vw;
}

.decorPoints {
    padding-left: 0.7vw;
}

.tagClass {
    display: flex;
    flex-direction: row;
    width: 90%;
    flex-wrap: wrap;
    font-size: 0.7vw;

    margin-top: 0.7vw;
    margin-left: 0.3vw;
}

.decorTag {
    background-color: #fbe673;
    width: auto;
    color: black;
    border-radius: 10px;

    margin: 0.2vw;
    padding: 0.3vw;
    height: auto;
    display: flex;
}

.tagLogo, .tagText {
    margin: 0px;
    padding: 0px;
    height: 1vw;
}

.tagText {
    display: flex;
    align-items: center;
}

.noteClass {
    display: flex;
    margin: 0.5vw;
    font-size: 0.6vw;
}

.noteText {
    background-color: silver;
    height: 1.2vw;
    padding: 0.3vw;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.noteContent {
    padding-top: 0.3vw;
     
}

@media screen and (max-width: 1024px)
{
    .decorName {
        line-height: 4.5vw;
    }

    .flexTile {
        height: 20vw;
    }

    .tileInfo {
        font-size: 1.3vw;
    }

    .tileInfo .decorTheme, .tileInfo .decorSize, .tileInfo .decorPoint{
        padding: 1vw;
    }

    .decorPoints {
        padding-left: 1.2vw;
    }

    .tagClass {
        font-size: 1.0vw;

        margin-top: 1vw;
        margin-left: 0.8vw;
    }

    .decorTag {
        margin: 0.2vw;
        padding: 0.3vw;
    }

    .tagLogo {
        height: 1.3vw;
    }

    .tagText{
        height: 1.5vw;
    }

    .noteClass {
        margin: 0.5vw;
        font-size: 0.7vw;
    }

    .noteText {
        height: 1.2vw;
        padding: 0.5vw;
    }
}

@media screen and (max-width: 768px)
{
    .decorName {
        line-height: 5.5vw;
        font-size: 1.3vw;
    }

    .flexTile {
        height: 30vw;
    }

    .borderImg {
        height: 5vw;
    }

    .tileInfo {
        font-size: 1.5vw;
    }

    .tileInfo .decorTheme, .tileInfo .decorSize, .tileInfo .decorPoint{
        padding: 1.5vw;
    }

    .decorPoints {
        padding-left: 1.8vw;
    }

    .tagClass {
        font-size: 1.3vw;

        margin-top: 2vw;
        margin-left: 1.3vw;
    }

    .decorTag {
        margin: 0.3vw;
        padding: 0.7vw;
    }

    .tagLogo {
        height: 1.3vw;
    }

    .tagText{
        height: 1.5vw;
    }

    .noteClass {
        margin: 1.5vw;
        font-size: 1.2vw;
    }

    .noteText {
        height: 1.2vw;
        padding: 0.5vw;
    }

    .noteContent {
        padding-top: 0vw;
    }
}
